.main__news-content {
    margin-top: 17px;

}

.latest-news {
    border-bottom: 2px solid #EBEBEB;
    margin-bottom: 16px;
}

.latest-news-title {
    margin: 0;
    font-size: 24px;
}

.latest-news-img {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 17px;
}

.text-bold {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.text {
    margin-bottom: 30px;
    font-size: 18px;
}

.text-italic {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 30px;
}

.text-heshtegs {
    display: flex;
    margin-bottom: 5px;
}

.text-heshteg {
    color: #28508E;
    margin-right: 15px;
    font-family: 'Rubik-regular';
    margin-bottom: 20px;
}

.main__news-title {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .latest-news-title {
        font-size: 18px;
    }

    .text-bold {
        font-size: 16px;
    }

    .text {
        font-size: 16px;
    }

    .text-italic {
        font-size: 16px;
    }

    .text-heshteg {
        font-size: 16px;
    }

    .main__news-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 380px) { 
    .text-heshteg {
        font-size: 14px;
    }
}