/* defualt styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Rubik-bold';
    src: url('./fonts/Rubik-Bold.ttf');
}

@font-face {
    font-family: 'Rubik-regular';
    src: url('./fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik-medium';
    src: url('./fonts/Rubik-Medium.ttf');
}

body {
    font-family: 'Rubik-medium';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
/* end default */

/* header styles */
 .header {
    border-top: 4px solid #295093;
    background: #F6F6F9;   
 }

 .container {
    margin: 0 auto;
    width: 80%;
 }

 .header__head {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 44px 0 40px 0;
    }
    .header__head div {
       display: flex;
       align-items: center;
       gap: 15px;
    }
 .logo {
    font-family: 'Rubik-bold';
    padding: 4px 8px;
    font-size: 28px;
    line-height: 33px;
    color: #295091;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
}

.currency {
    font-family: 'Rubik-regular';
    font-size: 16px;
    line-height: 19px;
    color: #7A7A7A;
}

.currency span {
    font-family: 'Rubik-bold';
    font-size: 20px;
    color: #285193;
    margin-right: 3px;
}

.search {
    padding: 8px 6.1px 8px 8px;
    border: none;
    border-radius: 5px;
    background: white;
}

.language {
    border: none;
    display: flex;
    padding: 10px;
    background: white;
    border-radius: 5px;
    gap: 5px;
}

.language p {
    font-size: 16px;
}


.tg-btn {
    padding: 10px;
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
}

.tg-btn img {
    width: 20px;
}

.menu {
    padding: 22px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);  
    border-radius: 5px;
}

.menu__list-item {
    color: #515151;
    font-size: 19px;
    margin-right: 15px;
}

.banner {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 23px;
}
/* end header */

/* main & news */
.main__covid-info {
    margin-top: 22px;
    padding: 30px 80px 30px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F6F6F9;
}

.main__covid-info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
}

.main__covid-info-item p {
    display: flex;
    flex-direction: column;
}

.main__covid-info-item:first-child {
    width: 232px;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.main__covid-info-item:nth-child(2) {
    height: 74px;
    padding-left: 29px;
    border-left: 2px solid #EB5569;
}

.main__covid-info-item:nth-child(3) {
    height: 49px;
    padding-left: 29px;
    border-left: 2px solid #F4CCD1;
}

.main__covid-info-item:nth-child(4) {
    height: 49px;
    padding-left: 29px;
    border-left: 2px solid #F4CCD1;
}

.main__covid-info-item-infected {
    font-family: 'Rubik-regular';
    font-size: 18px;
    color: #DB0000;
}

.main__covid-info-item p span {
    font-family: 'Rubik-medium';
    color: #000;
}

.main__covid-info-item-recovered {
    font-family: 'Rubik-regular';
    font-size: 18px;
    color: #05B135;
}

.main__covid-info-item-dead {
    font-family: 'Rubik-regular';
    font-size: 18px;
}

.main__news {
    margin-top: 20px;
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.main__news-item {
    width: 32%;
    margin-bottom: 1.8%;
}

.main__news-item-content {
    width: 95%;
}

.main__news-item-img img {
    width: 100%;
}

.main__news-item-content h3 { 
    font-size: 17px;
    margin-top: 11px;
    line-height: 20px;
    color: #202020;
}

.main__news-item-content p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 11px;
    color: #6B6D97;
}

.notification {
    padding: 25px 20px;
    margin-bottom: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
}

.notification-text {
    display: flex;
    align-items: center;
}

.notification-text img {
    margin-left: 14px;
}

.notification-text p {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-left: 17px;
}

.notification button {
    padding: 8px 8px 8px 15px;
    border: none;
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.main__news-content {
    display: flex;
    justify-content: space-between;

}

.latest-news {
    margin-right: 20px;
}

.latest-news-title {
    margin-top: 17px;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 13px;
}

.latest-news-item {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 19px;
}
 
 .latest-news-item-content h5 {
    font-size: 15px;
    line-height: 20px;
    color: #202020;
 }

 .latest-news-item-content p {
    font-family: 'Rubik-regular';
    font-size: 15px;
    line-height: 18px;
    margin-top: 12px;
    color: #434343;
 }

 .date {
    display: flex;
    align-items: end;
    margin-top: 12px;
 }

 .date p {
    margin-top: 0;
    font-family: 'Rubik-regular';
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
 }

 .more-news {
    margin-bottom: 40px;
    padding: 10px 32px;
    position: relative;
    left: 30%;
    border: none;
    background: #295093;
    border-radius: 5px;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
 }
    
.most-popular-news-block {
    padding: 20px;    
    background: #F6F6F9;
    border-radius: 5px;
}

.most-popular-news-item {
    margin-top: 18px;
}

.most-popular-news-item-line {
    width: 100%;
    height: 4px;
    background: #e4e4e4;
}

.most-popular-news-item-title {
    font-size: 20px;
    line-height: 24px;
    color: #202020;
}

.most-popular-news-item-text {
    margin-top: 1.3%;
    font-family: 'Rubik-regular';
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}

.most-popular-news-item-calendar {
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
    margin-top: 11px;
    margin-bottom: 14px;
}

 .most-popular-news img {
    margin-top: 23px;
    width: 100%;
 }

 .block__application {
    margin-bottom: 38px;
    padding: 37px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F6F6F9;
    border-radius: 5px;
 }

.block__application-info {
    margin-left: 10px;
    margin-right: 60px;
}

.block__application-info-title {
    font-size: 24px;
    line-height: 28px;
    color: #295093;
}

.block__application-descreption {
    margin-top: 10px;
    font-size: 20px;
    line-height: 21px;
    color: #333333;
}

.block__application-images {
    display: flex;
    gap: 20px;
}

/* end main & news*/

/* footer */
.footer {
    padding: 18px 0;
    background: #295093;
}

.footer__head {
    padding: 10px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #133C82;
    gap: 20px;
}

.footer__head-logo {
    padding: 10px 10px 10px 8px;
    background: #133C82;
    border-radius: 5px;
    font-family: 'Rubik-bold';
    font-size: 16px;
    color: #FFFFFF;
}

.footer__head-description {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.tg-btn-white {
    display: flex;
    align-items: center;
    padding: 9px;
    border: none;
    gap: 6px;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    line-height: 17px;
    color: #295093;
}

.footer__info {
    margin-top: 12px;
    display: flex;
    justify-content: left;
    gap: 5%;
}

.footer__info-item {
    width: 50%;
}


.footer__info-item-title {
    font-size: 14px;
    color: #FFFFFF;
}

.footer__info-item-description {
    margin-top: 10px;
    font-family: 'Rubik-regular';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 17px;
}

.footer__info-item-titles {
    display: flex;
    flex-direction: column;
}

.footer__info-item-titles a {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

/* end footer */

/* popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    display: none;
}

.popup__block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36%;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
}

#popup-close {
    background: transparent;
    border: none;
    color: #BABFC2;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

#popup-close:hover {
    color: rgb(29, 29, 29);
}

.popup__block-text {
    margin: 30px;
    margin-top: 16px;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #295093;
}

/* end popup */

/* burger */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    height: 3px;
    width: 25px;
    background-color: #133C82;
    margin: 5px;
    transition: transform 0.5s linear;
}

/* end burger */

/* media */

@media screen and (max-width: 1355px) {
    .burger {
        position: absolute;
        top: 55px;
        right: 5%;
        display: block;
    }
    .menu {
        position: absolute;
        right: 0;
        height: 93vh;
        top: 7vh;
        background-color: #F6F6F9;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .menu li {
        opacity: 0;
    }
}

@media screen and (max-width: 1200px) {
    .logo {
        font-size: 24px;
    }

    .main__covid-info {
        padding: 30px;
    }

    .main__covid-info-item:first-child {
        font-size: 18px;
    }

    .main__covid-info-item-infected {
        font-size: 16px;
    }

    .main__covid-info-item-recovered {
        font-size: 16px;
    }

    .main__covid-info-item-dead {
        font-style: 16px;
    }

    .notification-text img {
        width: 7.5%;
    }

    .notification-text p {
        font-size: 16px;
    }

    .notification button {
        font-size: 16px;
    }

    .block__application-info {
        margin-right: 4%;
    }

    .block__application-info-title {
        font-size: 20px;
    }
    
    .block__application-descreption {
        font-size: 16px;        
    }

}

@media screen and (max-width: 1080px) {
    .container {
        width: 90%;
    }

    .header__head {
        justify-content: flex-start;
        gap: 5%;
    }

    .menu {
        height: 84vh;
        top: 16vh;
    }

    .logo {
        font-size: 20px;
    }

    .currency {
        font-size: 14px;
    }

    .currency span {
        font-size: 14px;
    }

    .language p {
        font-size: 14px;
    }

    .tg-btn {
        font-size: 14px;
    }

    .main__covid-info-item:first-child {
        font-size: 16px;
    }

    .main__covid-info-item-infected {
        font-size: 14px;
    }
    
    .main__covid-info-item-recovered {
        font-size: 14px;
    }

    .main__covid-info-item-dead {
        font-size: 14px;
    }

    .main__news-item-content h3 {
        font-size: 15px;
    }

    .main__news-item-content p {
        font-size: 12px;
    }

    .latest-news-title {
        font-size: 18px;
    }

    .latest-news-item-content h5 {
        font-size: 14px;
    }

    .latest-news-item-content p  {
        font-size: 14px;
    }

    .most-popular-news-item-title {
        font-size: 18px;
    }

    .most-popular-news-item-text {
        font-size: 15px;
    }

    .block__application-img {
        width: 15%;
    }

    .block__application-info {
        width: 35%;
    }

    .block__application-images {
        width: 45%;
    }


    .block__application-images img {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .menu {
        height: 87vh;
        top: 13vh;
    }
    
    .header__head {
       flex-direction: column;
       align-items: flex-start;
    }

    .btn-group {
        margin-top: 20px;
    }

    .telegram {
        position: absolute;
        right: 5.8%;
    }

    .main__covid-info {
        padding: 2%;
    }

    .main__covid-info-item {
        gap: 3%;
        margin-right: 1.5%;
    }

    .main__covid-info-item:nth-child(2) {
        padding-left: 3%;
    }

    .main__covid-info-item:nth-child(3) {
        padding-left: 3%;
    }

    .main__covid-info-item:nth-child(4) {
        padding-left: 3%;
    }

    .latest-news-item {
        flex-direction: column;
        align-items: normal;
    } 

    .popup__block {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    .menu__list-item {
        font-size: 14px;
    }

    .main__covid-info {
        flex-wrap: wrap;
    }

    .main__covid-info-item {
        gap: 19px;
    }

    .main__covid-info-item:nth-child(2) {
        border: none;
        padding: 0;
    }

    .main__covid-info-item:nth-child(3) {
        border: none;
        padding: 0;
    }

    .main__covid-info-item:nth-child(4) {
        border: none;
        padding: 0;
    }

    .notification {
        flex-wrap: wrap;
        justify-content: center;
    }

    .notification button {
        margin-top: 15px;
    }

    .block__application {
        flex-wrap: wrap;
    }

    .block__application-info {
        width: 42%;
    }

    .block__application-images {
        width: 50%;
    }

    .footer__head {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 560px) {
    .header__head div {
        flex-wrap: wrap;
        margin-right: 30px;
    }
    
    .main__news-content {
        flex-wrap: wrap; 
        flex-direction: column-reverse;   
    }

    .menu {
        top: 14vh;
        height: 86vh;
        width: 50%;
    }

    .most-popular-news-block {
        margin-top: 15px;
    }

    .popup__block {
        width: 80%;
    }

    .popup__block-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .footer__info {
        flex-wrap: wrap;
    }

    .footer__info-item-titles {
        margin-top: 20px;
    }

    .footer__info-item {
        width: 100%;
    }   
}

@media screen and (max-width: 400px) {
    .main__news-item {
        width: 49%;
    }


    .block__application {
        gap: 20px;
        justify-content: center;
    }

    .block__application-phone {
        width: 100%;
    }

    .block__application-info {
        width: 100%;
    }

    .block__application-images {
        width: 100%;
    }
}

/* javascript */
.nav-active {
    display: flex;
    transform: translate(0);
}

@keyframes navLinkMove {
    from {
        opacity: 0;
        transform: translate(70px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6.5px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}